<div class="row">
  <div class="col border-right border-dark">
    <h3>Select city to find localization</h3>
    <div class="form-group">
      <mat-form-field>
        <mat-select placeholder="City" (selectionChange)="setCurrentCity($event)" [(value)]="current_city">
          <mat-option *ngFor="let city of (cities | async)"  [value]="city.name">
              {{ city.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div *ngIf="contact">
      <div>
          <p>{{ (contact | async)?.city }}</p>
          <p>{{ (contact | async)?.address }}</p>
          <p>{{ (contact | async)?.phone_number }}</p>
      </div>
      <div>
        <!-- Map -->
      </div>
    </div>
  </div>

  <div class="col">
    <h3>If you have any question, fill in form below!</h3>
    <form [formGroup]="contactForm" (ngSubmit)="sendClientRequest()">
      <div class="row">
        <mat-form-field class="col-8">
          <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-8">
          <input matInput formControlName="topic" placeholder="Topic">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12">
          <textarea matInput formControlName="text" placeholder="Textarea"></textarea>
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button>Send</button>
    </form>
  </div>
</div>
