<div class="row mt-3">
    <div class="col-md-12">
        <h3>Recommended films!</h3>
        <app-films-slide [category]="'recommended'"></app-films-slide>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-12">
        <h3>This films will show soon!</h3>
        <app-films-slide [category]="'soon'"></app-films-slide>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-12">
        <h3>Special films for the youngest!</h3>
        <app-films-slide [category]="'kids'"></app-films-slide>
    </div>
</div>